[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "alpine-wheels"
# https://github.com/imranq2/alpine-wheels/
url = "https://imranq2.github.io/alpine-wheels/docs/"
verify_ssl = true

[packages]
# httpx is a Python library for making HTTP requests
httpx = ">=0.27.2"
# authlib is a Python library for OAuth and OpenID Connect
authlib = ">=1.6.4"
# joserfc is a Python library for working with JOSE (JSON Object Signing and Encryption)
joserfc = ">=1.2.2"
# pydantic is a Python library for data validation
pydantic = ">=2.0,<3.0.0"
# pymongo is a Python library for working with MongoDB
pymongo = { version = ">=4.15.3", extras = ["srv"] }
# fastapi is a Python library for building APIs
fastapi = ">=0.115.8"
# starlette is a Python library for building ASGI applications
starlette =  ">=0.48.0"

[dev-packages]
setuptools=">=60.9.3"
# wheel is needed for building the package and installing wheels
wheel = ">=0.43.0"
# twine is needed for uploading the package to PyPI
twine=">=4.0.2"
# pre-commit is a Python library for running pre-commit checks
pre-commit=">=3.8.0"
# autoflake is a Python library for removing unused imports
autoflake=">=2.3.1"
# mypy is a Python library for type checking
mypy = ">=1.11.2"
# pytest is a Python library for running tests
pytest = ">=8.3.3"
# pytest-asyncio is a Python library for running asyncio tests
pytest-asyncio = ">=0.24.0"
# black is a Python library for formatting code
black = ">=24.8.0"
# bandit is needed for security checks
bandit = ">=1.8.3"
# ruff is needed for linting
ruff = ">=0.11.5"
# pytest-cov is needed for measuring test coverage
pytest-cov = ">=6.1.1"
# types-Authlib is a Python library for typing Authlib
types-Authlib = ">=1.6.5"
# respx is a Python library for mocking HTTP requests in tests
respx = ">=0.22.0"
# pyjwt is a Python library for working with JWT
pyjwt= ">=2.10.1"

# These dependencies are required for pipenv-setup.  They conflict with ones above, so we install these
# only when running pipenv-setup
[pipenvsetup]
# vistr is needed for visualizing the dependency graph
vistir=">=0.6.1, <0.7.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
# plete is needed for tab completion
plette = "<1.0.0" # https://github.com/Madoshakalaka/pipenv-setup/issues/138
# pipenv-setup is needed for updating setup.py with the dependencies for anyone installing this package
pipenv-setup = ">=3.2.0"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = false
